
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll

# Virtual environments
venv/
.env/
.venv/

# PyCharm project files
.idea/

# OS files
*.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller build artifacts
build/
dist/
*.spec

# Release zip files
*.zip

# Logs and temporary files
*.log

# Exclude zipped app builds if placed in root
HeatBoxMain-*.zip
